<!-- Feature 7 - LoginView Step 4: Create a Login Template-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
<!-- Feature 8 -feature add a navigation link 
    to access just the current user's recipes only if they're logged in.-->
    
</head>
<body>
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}   
                {{ form.as_p }}   
                <button type="submit">Login</button>
            </form>
        </div>
    </main>
</body>
</html>

