<!--Feature 5: step 4 Create a template for the 
    list view that complies with the following specifications. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Receipts</title>
</head>
<body>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                <!--loop though class model name Receipt 
                    from view.py ReceiptsView function  -->
                {% for Receipt in receiptsView %}
    
                <tr>
                    <td>{{ Receipt.vendor }}</td>
                    <td>{{ Receipt.total }}</td>
                    <td>{{ Receipt.tax }}</td>
                    <td>{{ Receipt.date|date:"m/d/y" }}</td>
                    <td>{{ Receipt.category.name }}</td>
                    <td>{{ Receipt.account.name }}</td>
                 
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
